@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');


/* set all of items */
*{
    box-sizing: border-box;
    margin: 0;
}

/* add smooth scrolling */
html{
    scroll-behavior: smooth;
}

/* General */
body{
    font-family: 'Supermercado One', cursive;
    background-color: #e9d7ac;
}


/* Customize Main */
main{
    /* || Layout */
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1{
    margin: .5em;
    text-align: center;
}

h2{
    margin-top: .3em;
    font-size: 5rem;
}



/* bearr */
@media(max-width:800px){
    aside{
        display: none;
    }
}

aside{
    position: fixed;
    right: 30px;
    bottom: 40px;
    height: 5rem;
    opacity: .8;
}

.intro-odin{
    font-size: 1.5rem;
}

aside:hover{
    position: fixed;
    transition: 500ms ease-in-out;
    height: 9rem;
    opacity: .8;
}


/* table customization */
table{
    width: 35%;
}

table,td,th{
    margin-top: 2em;
    border: 2px solid black;
    border-collapse: collapse;  
    padding: .5em;
}

th{
    font-size: 1.5rem;
}

.go-back{
    position: fixed;
    bottom: 10px;
    left: 10px;
}